@media screen and (max-width: 992px) {
    .about-container {
        flex-direction: column;
    }

    .about-img {
        width: 70%;
    }

    .about-info {
        width: 85%;
        text-align: center;
    }

    .features-card-container,
    .pricing-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .competence {
        flex-direction: column;
    }

    .input-container input {
        width: 100%;
    }

    .input-container .btn-primary {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }

    .team-container {
        flex-direction: column;
        align-items: center;
    }

    .team-img {
        width: 100%;
    }

    .team-info {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .menubar {
        display: block;
    }

    .menu {
        display: none;
    }

    .header-info {
        width: 70%;
    }

    .about-img {
        width: 100%;
    }

    .about-info {
        width: 100%;
    }

    .features-description {
        width: 80%;
    }

    .features-card-container,
    .pricing-card-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .clients-card-container {
        width: 90%;
    }

    .feedback-container {
        padding: 3rem 30px;
    }

    .feedback-info {
        width: 100%;
    }

    .feedback-way-container {
        display: block;
    }

    .feedback-way {
        display: block;
    }

    .feedback-way h3 {
        margin-top: 3px;
        margin-bottom: 20px;
    }

    .email-container {
        flex-direction: column;
        gap: 30px;
    }

    .input-container {
        width: 85%;
    }
}

@media screen and (max-width: 576px) {

    nav {
        padding: 15px 30px;
        justify-content: space-between;
    }

    nav .btn-primary {
        display: none;
    }

    .header-info {
        width: 85%;
        text-align: center;
    }

    .header-title,
    .about-title {
        font-size: 3rem;
    }

    .about-info {
        padding: 100px 20px;
    }

    .about-desc-container {
        flex-direction: column;
    }

    .features-description {
        width: 95%;
        font-size: 1.5rem;
        line-height: 32px;
    }

    .competence {
        padding: 100px 20px;
    }

    .competence-info {
        padding: 4rem 2rem;
    }

    .competence-title {
        font-size: 2rem;
    }

    .pricing-card {
        padding: 48px 20px;
    }

    .pricing-description {
        padding: 0px 10px;
    }

    .feedback-title {
        font-size: 2.2rem;
    }

    .say-hello-container {
        width: 100%;
    }

    .say-hello-title {
        font-size: 3.5rem;
    }

    .email-text {
        width: 100%;
        text-align: center;
    }

    .input-container {
        width: 100%;
    }

    .team-desc {
        font-size: 1.3rem;
        line-height: 35px;
    }

}

@media screen and (max-width: 375px) {
    .about-title {
        font-size: 2.5rem;
    }

    .about-info {
        padding: 70px 20px;
    }
    
    .features-description {
        font-size: 1.3rem;
        line-height: 26px;
    }
    
    .pricing-description {
        font-size: 1.3rem;
    }

    .feedback-title {
        font-size: 1.8rem;
    }

    .say-hello-container {
        padding: 64px 20px;
    }

    .say-hello-title {
        font-size: 3rem;
    }
    
    .input-container {
        padding: 32px 20px;
    }

    .team-info {
        padding: 64px 20px;
        text-align: center;
    }

    .team-desc {
        font-size: 1.1rem;
        line-height: 26px;
    }
    
}