@media screen and (max-width: 992px) {
    .about-container {
        flex-direction: column;
    }

    .about-img {
        width: 70%;
    }

    .about-info {
        width: 85%;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .menubar {
        display: block;
    }

    .menu {
        display: none;
    }

    .header-info {
        width: 70%;
    }

    .about-img {
        width: 100%;
    }

    .about-info {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {

    nav {
        padding: 15px 30px;
        justify-content: space-between;
    }

    nav .btn-primary {
        display: none;
    }

    .header-info {
        width: 85%;
    }

    .header-title,
    .about-title {
        font-size: 3rem;
    }

    .about-info {
        padding: 100px 20px;
    }

    .about-desc-container {
        flex-direction: column;
    }

}

@media screen and (max-width: 350px) {
    .about-title {
        font-size: 2.5rem;
    }

    .about-info {
        padding: 70px 20px;
    }
}