/* Font Family Link */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap');

/* Basic Css Setup */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 82%;
    margin: 0 auto;
}

.btn-primary {
    background-color: #a148ff;
    background: linear-gradient(90deg, #a148ff 0%, #ff6f45 100%);
    color: #fff;
    padding: 18px 35px;
    border: none;
    transition: all 0.3s;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 100px;
    cursor: pointer;
}

/* ================ */
/* Main Css Start */
/* ================ */

/* Navbar Style */

nav {
    background-color: #6172C9;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo {
    font-size: 1.8rem;
    color: #fafafa;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    gap: 55px;
}

.menu li a {
    font-size: 1.3rem;
    font-weight: 500;
    color: #fafafa;
}

nav .btn-primary {
    padding: 12px 20px;
}

.menubar {
    color: #fafafa;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

/* Header section style */

header {
    background-image: linear-gradient(rgba(78, 95, 178, 0.8), rgba(78, 94, 178, 0.8)), url("../img/background6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 11rem 0px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-info {
    width: 55%;
}

.header-title {
    font-size: 4.3rem;
}

.header-desc {
    font-size: 1.3rem;
    margin: 20px 0px 35px;
    line-height: 31px;
}

/* About Me Section Style */

.about {
    background-image: url("../img/background5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.about-img {
    width: 40%;
}

.about-img img {
    width: 100%;
    border-radius: 26px;
}

.about-info {
    background-color: #E2E9FF;
    padding: 100px 50px;
    border-radius: 26px;
    width: 55%;
}

.about-title {
    color: #263d5a;
    font-size: 4.3rem;
}

.about-desc-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.about-desc-container p {
    color: #263d5a;
    line-height: 24px;
}



